<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
  </div>

  {% schema %}
  {
    "name": "Masonry Grid",
    "settings": [
        {
            "id": "masonry-grid",
            "type": "text",
            "label": "Add a masonry grid"
        }
    ],
    "templates": ["index"],
    "presets": [
        {
            "name": "Masonry Grid",
            "category": "Masonry"
        }
    ],
    "blocks": [
        {
            "name": "Masonry Image",
            "category": "masonry-image",
            "type": "image",
            "settings": [
                {
                   "type": "image_picker",
                   "id": "image",
                   "label": "Image"                
                }
            ]
        }
    ]
  }
  {% endschema %}

  {% stylesheet %}
    
  {% endstylesheet %}

  {% javascript %}
    
  {% endjavascript %}