<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
  </div>

  {% schema %}
  {
    "name": "Masonry Grid",
    "settings": [
        {
            "id": "masonry-grid",
            "type": "image_picker",
            "label": "Add a masonry grid"
        }
    ],
    "templates": ["index"]
  }
  {% endschema %}

  {% stylesheet %}
    
  {% endstylesheet %}

  {% javascript %}
    
  {% endjavascript %}